<h1>New Workout</h1>

<div class="workout-form">
  <div class="field">
    <label class="label">Type</label>
    <div class="control">
      <Input class="input" id="classification" @value={{model.classification}} />
    </div>
  </div>
  <div class="field">
    <label class="label">Condition</label>
    <div class="control">
      <div class="select">
         <select onchange={{action "selectCondition" value="target.value"}}>
          {{#each conditionOptions as |choice|}}
            <option value={{choice}} selected={{eq condition choice}}>{{choice}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Notes</label>
    <div class="control">
      <Textarea class="textarea" id="notes" @value={{model.notes}} />
    </div>
  </div>
</div>

<div class="movements-form">
  <h3>Movements</h3>
</div>
